.mat-form-field{
    margin: 15px 10px;
    
}
.form-wrapper{
    width: 920px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
#X2FormField .mat-form-field-infix {
    width: 360px !important;
}
.title-box{
    width: 100% - 2rem;
    padding: 15px 30px;
    margin: 10px 0;
    background-color: #3f51b5;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

.margintop20{
    margin: 20px 0 ;
}