

<div class="form-wrapper">
    <form [formGroup]="updateForm" [hidden]="success" (ngSubmit)="updateSubmitHandler()">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
            <div fxFlex fxFlexAlign="center" style="text-align: center;">
                <mat-slide-toggle formControlName="validationStatus"  [attr.disabled]="true">審查狀態</mat-slide-toggle>
                
            </div>
            <div fxFlex fxFlexAlign="center">
                <mat-form-field *ngIf="
                updateForm.value.rtype == '4-一般代理教師' ||
                updateForm.value.rtype == '6-專任輔導代理教師' ||
                updateForm.value.rtype == '5-英語專長代理教師' ||
                updateForm.value.rtype == '7-特殊教育-身心障礙類代理教師' ||
                updateForm.value.rtype == '8-幼兒園代理教師' 
                ">
                    <mat-label>代理順位</mat-label>
                    <mat-select formControlName="proxyRank" >
                        <mat-option *ngFor="let ProxyRank of ProxyRanks" [value]="ProxyRank.value" >
                        {{ProxyRank.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="
                updateForm.value.rtype == '1-國小一般教師' ||
                updateForm.value.rtype == '2-國小英語專長教師' ||
                updateForm.value.rtype == '3-國小舞蹈專長教師(藝才班)' 
                ">
                    <input matInput placeholder="縣內積分" formControlName="countyScore">
                </mat-form-field>
            </div>
            <div fxFlex fxFlexAlign="center">
                <button mat-raised-button color="primary" [disabled]="updateForm.invalid">送出報名表</button>
            </div>
        </div>
    
      <mat-divider class="margintop20"></mat-divider>
        <div  class="mat-primary title-box">
            基本資料
        </div>
        <mat-form-field>
            <input matInput placeholder="姓名" formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>性別</mat-label>
            <mat-select formControlName="gender" required>
                <mat-option *ngFor="let Gender of Genders" [value]="Gender.value" >
                {{Gender.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [style.fontSize.px]=24 placeholder="身分證字號" formControlName="twid" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="出生日期" formControlName="birth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        

        <mat-form-field>
            <input matInput placeholder="手機" formControlName="phoneNumber"  phone="TW" [rangeLength]="[7, 10]" required>
        </mat-form-field>

        <mat-form-field id="X2FormField">
            <mat-hint >地址請填寫清楚，以利成績單郵寄。</mat-hint>
            <input  class="" matInput placeholder="通訊地址" formControlName="address" [rangeLength]="[6, 30]" required>
        </mat-form-field>

        
        <div  class="mat-primary title-box">
            學歷背景
        </div>

        <mat-form-field>
            <mat-label>最高學歷</mat-label>
            <mat-select formControlName="degree">
                <mat-option *ngFor="let Degree of Degrees" [value]="Degree.value" >
                {{Degree.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="畢業學校" formControlName="college">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="畢業系所" formControlName="major">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="師培機構" formControlName="teacherEducation">
        </mat-form-field>

        
        <div  class="mat-primary title-box">
            報考內容
        </div>
        <mat-form-field>
            <mat-label>報考類別</mat-label>
            <mat-select formControlName="rtype" required>
                <mat-option *ngFor="let Rtype of Rtypes" [value]="Rtype.value" >
                {{Rtype.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        

        

        <mat-divider class="margintop20"></mat-divider>



        
    </form>
   

</div>

    
