

<div class="form-wrapper">
    <form [formGroup]="updateForm" [hidden]="success" (ngSubmit)="updateSubmitHandler()">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
            <div fxFlex fxFlexAlign="center" style="text-align: center;">
                <mat-slide-toggle formControlName="validationStatus"  [attr.disabled]="true">審查狀態</mat-slide-toggle>
            </div>
            <div fxFlex fxFlexAlign="center">
                <button mat-raised-button color="primary" [disabled]="updateForm.invalid">送出報名表</button>
            </div>
        </div>
    
      <mat-divider class="margintop20"></mat-divider>
        <div  class="mat-primary title-box">
            基本資料
        </div>
        <mat-form-field>
            <input matInput placeholder="姓名" formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>性別</mat-label>
            <mat-select formControlName="gender" required>
                <mat-option *ngFor="let Gender of Genders" [value]="Gender.value" >
                {{Gender.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [style.fontSize.px]=24 placeholder="身分證字號" formControlName="twid" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="出生日期" formControlName="birth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        

        <mat-form-field>
            <input matInput placeholder="電話" formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field id="X2FormField">
            <mat-hint >地址請填寫清楚，以利成績單郵寄。</mat-hint>
            <input  class="" matInput placeholder="地址" formControlName="address">
        </mat-form-field>

        
        <div  class="mat-primary title-box">
            學歷背景
        </div>

        <mat-form-field>
            <mat-label>最高學歷</mat-label>
            <mat-select formControlName="degree">
                <mat-option *ngFor="let Degree of Degrees" [value]="Degree.value" >
                {{Degree.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="畢業學校" formControlName="college">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="畢業系所" formControlName="major">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="師培機構" formControlName="teacherEducation">
        </mat-form-field>

        
        <div  class="mat-primary title-box">
            報考內容
        </div>
        <mat-form-field>
            <mat-label>報考類別</mat-label>
            <mat-select formControlName="rtype" required>
                <mat-option *ngFor="let Rtype of Rtypes" [value]="Rtype.value" >
                {{Rtype.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field id="X2FormField">
            <mat-hint>106 學年度(含)前曾服務於本縣各該教育階段(幼兒園教師含教保服務人員)滿 1 學年者(從第一學期開學日起至第二學期休業式止，且服務成績優良，未滿 1 學年者不予計分)，外加總分 0.5 分，最高以 4 分為限。</mat-hint>
            <input matInput placeholder="縣內積分" formControlName="countyScore">
        </mat-form-field>

        <mat-divider class="margintop20"></mat-divider>



        
    </form>
   

</div>

    
